<div class="contact">
    <h1 id="nav_history"><a [routerLink]='["/Home"]'>Home</a> / Contact</h1>
    <div>
        <div class="contact_container">
            <div class="contact_section">
                <h1>Contact Me</h1>
                <b>I'm opened to any intership</b>
                <div class="personel_info">
                    <div>
                        <b>ADDRESS :</b>
                        <p>STREET TARFAYA 10 BIS</p>
                    </div>
                    <div>
                        <b>EMAIL :</b>
                        <p>achbabmahdi120gmail.com</p>
                    </div>
                    <div>
                        <b>Phone :</b>
                        <p>+212 644831875</p>
                    </div>
                </div>
                <h1>You can help me improving my portfolio by sending a message</h1>
                <form action="" method="POST" id="feedbackform" >
                    <label>subject <span style="color:red">*</span></label><input type="text" name="subject" id="subject" placeholder="Subject (ex : user experience/UI/navbar ...)">
                    <label>message <span style="color:red">*</span></label><textarea name="message" id="message" cols="30" rows="10" placeholder="Write your message"></textarea>
                    <input type="submit" id="submit" value="Send Message">
                </form>
                <div class="others">
                    <h3>You can contact me here also :</h3>
                    <b><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/mahdi-achbab-8596b3295/" target="_blank">LinkedIn</a></b>
                    <b><i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/profile.php?id=61550644629504" target="_blank">Facebook</a></b>
                </div>
            </div>
            <div id="map"></div>
        </div>
    </div>
</div>
