<div class="about-container">
    <h1 id="nav_history"><a [routerLink]='["/Home"]'>Home</a> / About me</h1>
    <div class="about-me-container">
        <div class="about-me">
            <h1>About Me</h1>
            <h3>INGÉNIEUR D'INFORMATIQUE</h3>
            <div>
                <img src="../assets/myphoto1_magicstudio_dq9nls22dyo.jpg" alt="">
                <div class="description">
                    <p>I am a motivated computer engineer actively seeking opportunities to gain experience and advance in my career. With a genuine passion for my field, I am consistently on the lookout for new challenges and projects that will not only broaden my knowledge but also allow me to refine and enhance my skills. I thrive on pushing the boundaries of what I know and am eager to contribute my expertise to meaningful endeavors. Committed to continuous learning, I am excited about the prospect of engaging with innovative technologies and collaborating with talented professionals as I navigate the dynamic landscape of the tech industry.</p>
                    <div class="detail-info">
                        <p><b>Name : </b><br>Almahdi Achbab</p>
                        <p><b>Zip code : </b><br>32000</p>
                        <p><b>Date of birth : </b><br>26/07/2001</p>
                        <p><b>Address : </b><br>Street TARFAYA 10 BIS</p>
                        <p><b>Email : </b><br>achbabmahdi120gmail.com</p>
                        <p><b>Phone ; </b><br>+212 644831875</p>
                    </div>
                    <div>
                        <a href="assets/Almahdi_Achbab.pdf" download>DOWNLOAD CV</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="skills-container">
            <h1>My Skills</h1>
            <div class="skills-section">
                <div class="skill">
                    <b>CSS <span>100%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>HTML5 <span>100%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>JAVASCRIPT <span>90%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>NODE JS <span>80%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>PHP <span>70%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>JAVA <span>100%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>PYTHON <span>80%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>SASS <span>50%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 50%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>PL/SQL <span>70%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>REACT <span>90%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>ANGULAR <span>90%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>SQL <span>100%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>JQUERY <span>100%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>ODOO <span>60%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <b>Android Studio <span>80%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </div>
            </div>
            <div>
                <p><b>Technologies Java/ Java EE : </b>MVC, JSP, Servlet, Filter</p>
                <p><b>Frameworks Java EE : </b>Spring, JPA Hibernate,Spring Boot</p>
                <p><b>Service Web : </b>REST API</p>
                <p><b>Outils d’industrialisation : </b>Git,Maven,Npm</p>
                <p><b>DBMS : </b>MySQL, Oracle DB</p>
                <p><b>Conception et Modélisation : </b>UML, Design Patterns, Merise</p>
            </div>
        </div>
        <div class="languages-container">
        <h1>Languages</h1>
            <div class="languages-section">
                <div class="language">
                    <b>Berber <span>100%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="language">
                    <b>English <span>60%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="language">
                    <b>French <span>60%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="language">
                    <b>Arabic <span>80%</span></b>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
