<div class="root_home">
        <header>
            <nav>
                <ul>    
                    <li><a href="#">Home</a></li>
                    <li><a [routerLink]='["/About"]'>About Me</a></li>
                    <li><a [routerLink]='["/Contact"]'>Contact</a></li>
                    <li><a [routerLink]="['/Feedbacks']">Feedbacks</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="who_iam">
                    <b>INGÉNIEUR D'INFORMATIQUE</b>
                    <h1>I'M ALMAHDI ACHBAB</h1>
                    <a href="" id="readmore_btn">Read More About Me</a>
                    <p>© Copyright 2019. Al Hoceima. Site is created by : ALMAHDI ACHBAB</p>
            </div>
            <div class="PhotoSection">
                <img src="../assets/myphoto1_magicstudio_dq9nls22dyo.jpg" >
            </div>
        </div>
</div>
